---
layout: layouts/home.njk
eleventyNavigation:
  key: Taste Cards
  order: 3
---
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/img/Za'tar.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Za'tar</h5>
        <p class="card-text">Middle Eastern (Mediterranean hint) - Adds a savoury spice to dishes and breads.<br><br> Notes : Either combine & eat as they are or heat over medium heat until Sesame Seeds start turning brown.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/Barharat.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Barharat</h5>
        <p class="card-text">Middle Eastern - Adds a smoky, sweet flavour to dishes.<br><br>Notes : Blend up and rub onto meat before cooking or into wok when cooking.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/Ras el Hanout.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ras el Hanout</h5>
        <p class="card-text">Moroccan - Adds a warm, slightly bitter/woody character to cooked dishes.<br><br>Notes : Mix & Add to cooking or Marinade.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/Adobo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Adobo</h5>
        <p class="card-text"> Mexican - Adds a spicy kick to your dish, around purpose Mexican spice mix.<br><br>Notes : Mix & Add to cooking or Marinade.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/Cajun.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cajun</h5>
        <p class="card-text">Southern USA style - Adds a zesty, spicy savoury flavour to all dishes and cooking.<br><br>Notes : Mix & Add to cooking or Marinade.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card h-100">
      <img src="/img/Merken.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Merkén</h5>
        <p class="card-text">Chilean - Adds a mild spicy & smoke kick to dishes and breads & Nibbles.<br><br>Notes : Mix & Add to cooking or Marinade.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

